<div ng-controller="headerCtrl">
	<div public-header></div>
</div>
<div class="container-fluid">
	<div class="login-box col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 marginBottom20">
		<h3 class="pageTitle">Chaincode Query</h3>
		<div ng-repeat="item in queryObj" class="borderBottom">
			<div>
				<label>Region name</label>
				<span>{{item.REGION_NAME}}</span>
			</div>
			<div>
				<label>Insured ID</label>
				<span>{{item.INSURED_ID}}</span>
			</div>
			<div>
				<label>Insured</label>
				<span>{{item.INSURED}}</span>
			</div>
			<div>
				<label>Business Area</label>
				<span>{{item.BUSINESS_AREA}}</span>
			</div>
			<div>
				<label>Line of business ID</label>
				<span>{{item.LINE_OF_BUSINESS_ID}}</span>
			</div>
			<div>
				<label>Line of business</label>
				<span>{{item.LINE_OF_BUSINESS}}</span>
			</div>
			<div>
				<label>Policy</label>
				<span>{{item.POLICY}}</span>
			</div>
			<div>
				<label>Deal ID</label>
				<span>{{item.DEAL_ID}}</span>
			</div>
			<div>
				<label>Deal num</label>
				<span>{{item.DEAL_NUM}}</span>
			</div>
			<div>
				<label>Broker ID</label>
				<span>{{item.BROKER_ID}}</span>
			</div>
			<div>
				<label>Broker</label>
				<span>{{item.BROKER}}</span>
			</div>
			<div>
				<label>Inception date</label>
				<span>{{item.INCEPTION_DATE}}</span>
			</div>
			<div>
				<label>Expiration date</label>
				<span>{{item.EXPIRATION_DATE}}</span>
			</div>
			<div>
				<label>Carrier CD</label>
				<span>{{item.CARRIER_CD}}</span>
			</div>
			<div>
				<label>Carrier</label>
				<span>{{item.CARRIER}}</span>
			</div>
		</div>
		<form novalidate>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ui-sref="operation">
						back
					</button>
				</div>
		</form>
	</div>
</div>
<div ng-controller="footerCtrl">
	<div footer-directive></div>
</div>
